body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom:50px;
}

a {
  color: #00B7FF;
}

.form-group {
  padding-bottom: 0px !important; 
  margin: 0 !important;
}

.form-control-feedback {
	top: 0px;
}

/* Account Login */
.account-login {
    padding-top:80px;
}
.facebook {
    width: 100%;
    height: 48px;
}
.fb-emphasis {
    font-size: 18px;
}

/* Group List */
.group-list-heading-panel {
	height: 50px;
	width: 100%;
	background: #E65100;
}
.add-group {
	position: absolute;
	top: 0px;
	right: 30px;
	background: #f7f7f7;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.add-group:hover {
	background: #FB8C00;
}
.add-group:hover > i {
	color: #f7f7f7;
}
.add-group>i {
	width: 30px;
	margin-right: 10px;
    margin-top: 10px;
	height: 50px;
	font-size: 30px;
}
.group-list-heading {
	margin: 0px !important;
	font-size: 30px;
	font-weight: 800;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	color: #f7f7f7;
}
.group-list>.list-group-item {
	padding: 10px 30px;
	cursor: pointer;
}
.group-list>.list-group-item>.row-action-primary>img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.group-list>.list-group-item:nth-child(2)>.row-action-primary>img {
	filter: hue-rotate(90deg);
}
.group-list>.list-group-item:nth-child(3)>.row-action-primary>img {
	filter: brightness(3);
}
.group-list>.list-group-item h4 {
	font-weight: 800;
}
.group-list>.list-group-item:hover {
	background: #ccc;
	color: #f7f7f7;
}
.group-list>.list-group-item:hover img {
	border: 1px solid #ccc;
}
.group-list>.list-group-item:hover h4 {
	color: #f7f7f7;
}
.group-list>.list-group-item>.row-content>.text-panel {
	width: 60%;
	float: left;
}
.group-list>.list-group-item>.row-content>.display-panel {
	float: right;
	width: 40%;
}
.modal {
	display: block;
	width: 50%;
	margin: 50px auto;
	background: #f7f7f7;
}
.modal>.modal-body>.form-group>.form-control {
	margin-bottom: 30px !important;
}
.modal .ng-hide-remove {
	-webkit-animation: 0.5s show;
	animation: 0.5s show;
}

/* Group Chat */
.group-chat-panel>.panel>.panel-heading>.panel-title {
	font-size: 30px;
	display: inline;
}
.chat-username {
	width: 15%;
	display: inline-block;
}
.chat-username>i {
	vertical-align: sub;
	font-size: 20px;
}
.chat-username>span {
	font-size: 14px;
	font-weight: 500;
}
.chat-message {
	width: 85%;
}
.input-icon {
	font-size: 30px !important;
	position: relative;
}
.message-input {
	width: 95% !important;
}

@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
#footer{
    position:fixed;
    height:60px;
    background-color:coral;
    color: white;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}