body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-group {
  padding-bottom: 0px !important; 
  margin: 0 !important;
}

.form-control-feedback {
	top: 0px;
}

/* Account Login */
.account-login {
    padding-top:80px;
}
.facebook {
    width: 100%;
    height: 48px;
}
.fb-emphasis {
    font-size: 18px;
}