.card
  .card-img-top(style="background-image: url('{{movie.medium_cover_image}}')")
  .card-block
    h4.card-title {{movie.title_long}} 
    p rating: {{movie.rating}}
    p.card-text {{movie.summary}}

style 
  include card.css
